@import '_bootstrap-grid.scss';
@import '_reset.scss';
@import '_tooltip.scss';

// ------------------------------------------------------------------------------------------------
// Base
// ------------------------------------------------------------------------------------------------


// ------------------------------------------------------------------------------------------------
// slider
// ------------------------------------------------------------------------------------------------

.slider-wrapper {

	img {
		object-fit: cover;
		object-position: center;
		height: 100%;
		max-height: 300px;
		width: inherit;
	}
}