@import url(bootstrap-grid.css);

body {
	font-size: 14px;
	line-height: 1.4;
	font-family: 'Roboto', sans-serif;
} 

a {
	text-decoration: none;
}

.user {
	background: rgb(194, 194, 194);
	border: 1px solid rgb(194, 194, 194);
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	transition: all 0.3s ease;
}

.user.active{
	background: transparent;
	border: 1px solid rgb(194, 194, 194);
}

.user > div {
	margin-bottom: 10px;
} 

.user img {
	border-radius: 50%;
	overflow: hidden;
}

.name {
	font-weight: 700;
}

.username {
	font-style: italic;
}

.users {
	position: fixed;
	width: 20%;
	min-width: 300px;
	padding: 0px 15px;
	overflow-y: scroll;
    max-height: 100vh;
	background: #fff;
}

.posts {
	margin-left: 23%;
	width: 77%;
	min-height: 100vh;
	padding: 30px;
	background: rgb(194, 194, 194);
}

.post,
.album {
	margin-bottom: 30px;
	padding: 10px;
}

.album {
	cursor: pointer;
}

.album .title {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	background: #fff;
	height: 100%;
	transition: all 0.3s ease;
}

.album .title:hover {
	background: transparent;
}

.text-comm {
	margin-bottom: 10px;
}

.title {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

table {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

td:first-child {
	width: 20%;
	font-weight: 600;
}

td:last-child {
	width: 80%;
	font-weight: 300;
}

.btn {
	display: inline-block;
	padding: 10px;
	background: rgb(97, 97, 97);
	color: #fff;
	outline: none;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn:hover,
.btn.active {
	background: rgb(177, 177, 177);
}

.comm {
	margin: 10px 20px;
}

.comm-name {
	font-weight: 600;
	margin-bottom: 5px;
}

.comm-email {
	font-style: italic;
	font-size: 12px;
	margin-bottom: 5px;
}

.album-foto {
	text-align: center;
}


.album-foto img {
	max-width: 200px;
	max-height: 200px;
}

.loader {
	width: 70px;
	height: 70px;
	/* background: transparent; */
	background-image: url(../Settings.gif);
	background-size: cover;
	position: fixed;
    top: 50%;
    left: 50%;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.todo-title {
	margin-right: 15px;
}