.card {
	background: rgb(194, 194, 194);
	padding: 10px;
	margin-bottom: 20px;
	text-align: center;
	transition: all 0.3s ease;
	cursor: pointer;
}

.card.active{
	background: transparent;
	border: 1px solid rgb(194, 194, 194);
}

.card > div {
	margin-bottom: 10px;
} 

.card img {
	border-radius: 50%;
	overflow: hidden;
}

.name {
	font-weight: 700;
}

.username {
	font-style: italic;
}

.content {
	position: fixed;
	width: 30%;
	padding: 0px 15px;
	overflow-y: scroll;
    max-height: 100vh;
}

.posts {
	margin-left: 35%;
	width: 70%;
	min-height: 100vh;
	padding: 30px;
	background: rgb(194, 194, 194);
}

.post {
	margin-bottom: 30px;
}

.title {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.row {
	display: flex; 
}

table {
	width: 100%;
	text-align: center;
}

td:first-child {
	width: 30%;
	font-weight: 600;
}

td:last-child {
	width: 70%;
	font-weight: 300;
}
